<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.tipblockchain.kasakasa">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.mainapp.MainTabActivity"
            android:label="@string/title_activity_main_tab"
            android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.newaccount.ChooseUsernameActivity"
            android:label="@string/title_activity_choose_username"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.onboarding.password.ChoosePasswordActivity"
            android:label="@string/title_activity_choose_password"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.backup.BackupInfoActivity"
            android:label="@string/title_activity_backup_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.backup.BackupFinishedActivity"
            android:label="@string/title_activity_backup_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.backup.BackupAccountActivity"
            android:label="@string/title_activity_backup_account" />
        <activity
            android:name=".ui.mainapp.SendTransferActivity"
            android:label="@string/send_payment" />
        <activity
            android:name=".ui.mainapp.ConfirmTransferActivity"
            android:label="@string/title_activity_confirm_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.mainapp.TransactionConfirmedActivity" />
        <activity
            android:name=".ui.newaccount.EnterPhoneNumberActivity"
            android:label="@string/title_activity_enter_phone_number" />
        <activity
            android:name=".ui.onboarding.recovery.RecoveryPhraseActivity"
            android:label="@string/title_activity_recovery_phrase" />
        <activity
            android:name=".ui.newaccount.VerifyRecoveryPhraseActivity"
            android:label="@string/title_activity_verify_recovery_phrase" />
        <activity
            android:name=".ui.onboarding.profile.OnboardingUserProfileActivity"
            android:label="@string/title_activity_onboarding_user_profile"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>